.login-main {
    min-height: 100vh;
    background: url('../../../../assets/images/login.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

mat-card {
    min-width: 25%;
}

// ipad and mobile css

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    mat-card {
        min-width: 40%;
    }
}

@media (max-width: 600px) {
    mat-card {
      min-width: 75%;
    }
}
