<section>
  <app-top-nav *ngIf="!isLoggedIn"></app-top-nav>

  <section *ngIf="!isLoggedIn">
    <mat-drawer-container class="example-container" autosize style="height: 90vh;">
      <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 20%;">
        <h1 style="margin-left: 10px;">SimpleCRM</h1>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
          <a mat-button [routerLink]="'/accounts'"> Accounts </a>    
        </div>
      </mat-drawer>
    
      <div class="example-sidenav-content">
        <button mat-icon-button>
          <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
      </div>  
    </mat-drawer-container>
  </section>  

  <!-- <app-login *ngIf="!isLoggedIn"></app-login> -->
</section>