<section>
  <app-top-nav *ngIf="currentUser && !notFoundPage"></app-top-nav>

  <section>
    <mat-drawer-container class="example-container" autosize [ngClass]="currentUser ? 'drawer':'loggger' ">
      <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 15%; margin-right: 5px;" *ngIf="currentUser && !notFoundPage">
        <h1 style="margin-left: 10px;">Navigation List</h1>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/dashboard/users-list'"> Dashboard </a>
          <a mat-button [routerLink]="'/accounts'" *ngIf="isAdmin"> Accounts </a>    
        </div>
      </mat-drawer>
    
      <div class="example-sidenav-content">
        <div *ngIf="currentUser && !notFoundPage">
          <button mat-icon-button>
            <mat-icon (click)="toggleSideNav()">menu</mat-icon> 
          </button>
          <span>
            Below area is the main area which will show all the information based on navbar selection. 
          </span>
        </div>  
        <hr *ngIf="currentUser && !notFoundPage">
        <div [ngClass]="{'main-sec': currentUser && !notFoundPage }">
          <router-outlet></router-outlet>
        </div>
      </div>  
    </mat-drawer-container>
  </section>  
</section>